APScheduler
asyncmy
DateTime
fastapi[all]
loguru
openpyxl
pandas
bcrypt
passlib[bcrypt]
Pillow
psutil
pydantic-validation-decorator
PyJWT[crypto]
PyMySQL
redis
requests
SQLAlchemy[asyncio]
user-agents
starlette
pydantic
uvicorn
python-dotenv
pydantic-settings
jinja2
# openai
markdown
oss2
tinify
beautifulsoup4
granian
uvicorn_worker

mcp
httpx
click
watchfiles
pycryptodome

torch
torchvision
torchaudio


opencv_python
opencv_contrib_python
opencv-python-headless
matplotlib
terminaltables
sqlmodel

alias




      
annotated-types        
anyio                                                  
colorama              
contourpy              
cycler                                
exceptiongroup                         
filelock                          
fonttools              
fsspec                
greenlet               
h11                                    
httpcore                                                                           
MarkupSafe                          
mpmath                                
networkx              
numpy                   
packaging                                 
pillow                
pip                                             
pydantic_core          
pyparsing                     
python-dateutil        
python-multipart      
PyYAML                                 
setuptools                         
six                 
sniffio                                                                                
sympy                           
tomli                                             
tqdm                               
typing_extensions                                                                     
wheel                  






aliyun-python-sdk-core
aliyun-python-sdk-kms
annotated-types
anyio
APScheduler
async-timeout
asyncmy
bcrypt
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
contourpy
crcmod
cryptography
cycler
DateTime
distro
dnspython
email_validator
et_xmlfile
exceptiongroup
fastapi
fastapi-cli
filelock
fonttools
fsspec
granian
greenlet
gunicorn
h11
httpcore
httptools
httpx
httpx-sse
idna
itsdangerous
Jinja2
jiter
jmespath
kiwisolver
loguru
Markdown
markdown-it-py
MarkupSafe
matplotlib
mcp
mdurl
mpmath
networkx
numpy
openai
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
orjson
oss2
packaging
pandas
passlib
pillow
psutil
pycparser
pycryptodome
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydantic_validation_decorator
Pygments
PyJWT
PyMySQL
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
redis
requests
rich
rich-toolkit
shellingham
six
sniffio
soupsieve
SQLAlchemy
sqlmodel
sse-starlette
starlette
sympy
terminaltables
tinify
tqdm
typer
typing_extensions
tzdata
tzlocal
ua-parser
ua-parser-builtins
ujson
urllib3
user-agents
uvicorn
uvicorn-worker
watchfiles
websockets
win32_setctime
zope.interface







